<!-- wrapper around all templates -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studyBud</title>
</head>
<body>
    <!-- navigation bar on top of every page. -->
    <!-- include template navbar.html -->
    {% include 'navbar.html' %} 

    {% if messages %}
    <ul class="messages">
        <!-- if there are messages, print it -->
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    <!-- tell website when to add all child template when wrapping a parent page -->
    {% endblock %}
</body>
</html>