{% extends 'main.html' %}

{% block content %}

<div>
    <!-- send data, so post method for creating and updating.  -->
    <!-- action: not specified, so send to current url we are at when hitting post -->
    <form method="POST" action="">
        <!-- csrf token sent on every form submit request, make sure no cross site forgery attack -->
        {% csrf_token %}
        {{form.as_p}}
        <!-- submit button -->
        <input type="submit" value="Submit"/>
    </form>
</div>

{% endblock content %}